body{
    background-size: cover;
    background-image: url(/Users/yurisentenza/Desktop/boolean/Limechallengeboolean/img/background.jpg) ;
}

.container{
    width: 800px;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ima{
    width: 20%;
    margin-left: 40%;
}

header > h1{
    color: chartreuse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: center;
}

.c2{
    background-color: chartreuse;
    width: 700px;
    height: 35px;
    margin-left: 45px;
    text-align: center;
}

nav > input{
    margin-top: 10px;
    font-size: x-small;
}

main{
    margin-top: 20px;
    margin-left: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.c3{
    width: 700px;
    height: 90px;
    position: absolute;
    bottom: 300px;
}

.c4{
    width: 700px;
    height: 90px;
    position: absolute;
    bottom: 190px;   
}

.c5{
    width: 700px;
    height: 90px;
    position: absolute;
    bottom: 80px;   
}

.t1{
    color: white;
    font-size: x-small;
}

.fontspan{
    font-size: medium;
    color: white;
}

.statocarica1{
    background-color: orange;
    width: 35%;
    height: 25px;
    border-radius: 5px;
}

.statocarica2{
    background-color: chartreuse;
    width: 60%;
    height: 25px;
    border-radius: 5px;
}

.statocarica3{
    background-color: red;
    width: 15%;
    height: 25px;
    border-radius: 5px;
}